
@{
    ViewBag.Title = "University Of Success";
}

<h2 style="text-align:center">@ViewBag.Title</h2>
<h4 style="text-align:center">@ViewBag.Message</h4>

<div class="jumbotron-fluid">
    <hr />
    <div>
        <p>To apply please download and fill out this document: <a href="~/TESTING.docx" download>Download File</a> </p>
        <p>When completed please upload your document below and  fill out the required feilds.</p>
    </div>
    <hr />
    @using (Html.BeginForm("UofSuccessForm", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />

            <input type="submit" value="Upload" />

        </div>


    }
    <br />
    <br />
    <div>
        @Html.ActionLink("Back to Home", "index")
    </div>
</div>

