@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center">@ViewBag.Title</h2>
<hr />

<p><b>Medical Clinic:</b><i> Thursday from 1:30 PM - 5:30 PM,</i> by appointment only.</p>
<p><b>Counseling Clinic:</b><i> Wednesday from 8:30 AM - 3:00 PM,</i> by appointment.</p>
<p><b>Low Vision Clinic:</b><i> Monday - Friday,</i> by appointment only.</p>
<p><b>Physical Therapy Clinic:</b><i> Tuesday/Thursday from 3:00 PM - 6:00 PM,</i> by appointment only.</p>
<br />
<p><b>Food Pantry:</b></p>
<p>
    <i>
        Monday: 9:00 AM - 3:00 PM
        Friday: 9:00 AM - 1:00 PM
    </i>
    <br />
</p>
<p><b>Please bring a valid Photo ID.</b></p>

<div>
    @Html.ActionLink("Back to Home", "index")
</div>
