<div class="jumbotron-fluid">
    <div style="text-align:center">
        <h2>Contact Us</h2>

    </div>
    <hr />

    <p>
        Our Phone Number: <a href="tel:+5709416112">570-941-6112</a>
    </p>
    <p>
        Our Location:
        230 Kressler Court
        Scranton, PA 18503
    </p>
    <p>
        Our Mailing Address:
        Leahy Community Center
        800 Linden Street
        Scranton, PA 18510-4699
    </p>


    @*<html>
        <head>*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
        }

            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }
    </style>
    @*</head>
        <body>*@

    <a href="https://www.facebook.com/LeahyCenter/" class="fa fa-facebook"></a>
    <a href="https://www.piwox.com/user/theleahycenter/20788739920" class="fa fa-instagram"></a>

    @*</body>
        </html>*@
    <br />
    <br />
    <div>
        @Html.ActionLink("Back to Home", "index")
    </div>
</div>
@*</address>*@