@model _LeahyHealthProject.Models.calender

@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h2 style="text-align:center">Leahy Health</h2>
        <h3 style="text-align:center">Welcome to The Edward R. Leahy Jr. Center Clinic for the uninsured patient website!</h3>
        <hr />
        <p>
            <h5 style="text-align:center">@Html.ActionLink("Click here to continue", "Index", "calenders")</h5>
        </p>
    </div>
